extends layout

block content
	- const MAPS_KEY="AIzaSyBCnNOlG3tmJcQJ7SCD_1Sl9f3Gy3OHlQY";
	script(type="text/javascript").
		let event = !{JSON.stringify(event)};
		let eventLocation = !{JSON.stringify(event.position)};
		let lineup = !{JSON.stringify(event.lineup)};
	if (event.ticketshop != "")
		h1 #{event.name} #[a(href=event.ticketshop).material-icons.ticketlink add_shopping_cart]
	else
		h1 #{event.name}
	h2 #{event.venue_name} on #{event.date}
	#detailMap
	.mdc-layout-grid
		.mdc-layout-grid__inner
			if event.description.trim() != ""
				.mdc-layout-grid__cell
					p!=event.description
			.mdc-layout-grid__cell
				h2 Lineup
				each artist in event.lineup
					.mdc-card.artistEntry(data-artist=artist)
						.mdc-card__media.mdc-card__media__artist(id=artist.split(" ").join(""))
						.mdc-card__supporting-text #{artist}
			.mdc-layout-grid__cell#artistDetail
	script(src="/scripts/mapDetailView.js")
	script(async defer src=`https://maps.googleapis.com/maps/api/js?key=${MAPS_KEY}&callback=initDetailMap`)
