extends layout

block content
	- const MAPS_KEY="AIzaSyBCnNOlG3tmJcQJ7SCD_1Sl9f3Gy3OHlQY";
	- console.log(event);
	script(type="text/javascript").
		let eventLocation = !{JSON.stringify(event.position)};
		let lineup = !{JSON.stringify(event.lineup)};
	h1 #{event.name}
	h2 #{event.venue_name}
	#detailMap
	h3 #{event.date}
	p!=event.description
	ul.mdc-list.mdc-list--avatar-list
		each artist in event.lineup
			li.mdc-list-item
				img(src="", width=56, height=56 id=artist.split(" ").join("")).mdc-list-item__start-detailMap
				|#{artist}
	script(src="/scripts/mapDetailView.js")
	script(async defer src=`https://maps.googleapis.com/maps/api/js?key=${MAPS_KEY}&callback=initDetailMap`)
